body {
    /* устанавливаем основной шрифт для всей страницы */
    font-family: 'Arial', sans-serif;

    /* настраиваем стили так, чтобы центрировать все содержимое по вертикали */ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    /* расстягиваем страницу на всю высоту экрана */
    height: 100vh;

    /* убираем внешние отступы */
    margin: 0;

    /* добавляем фоновый градиент */ 
    background: linear-gradient(to right, #74ebd5, #ACB6E5);

    /* устанавливаем основной цвет текста */ 
    color: #333;
}

/* стили будут применяться только для экранов шириной 600 пиксселей или меньше  */
@media (max-width: 600px) {
    /* выбирает все элементы с классом 'cell' */ 
    .cell {
        /* устанавливает ширину и высоту каждой ячейки в 60 пикселей */
        width: 60px;
        height: 60px;
    }

    #tic-tac-toe-board {
        /* задает три колонки в сетке, каждая шириной 60 пикселей */
        grid-template-columns: repeat(3, 60px);
        /* задает три строки в сетке, каждая шириной 60 пикселей */ 
        grid-template-rows: repeat(3, 60px);
    }
}
